{% extends "../layout.html" %}
{% block content %}
<div id="admin_content">
  
  <h2>Gestion des {{ model.verbose_name_plural }}</h2>
  <fieldset>
    <legend>
    {% ifequal operation "update" %}
    Éditer un {{ model.verbose_name }} :
    {% else %}
    Ajouter un {{ model.verbose_name }} :
    {% endifequal %}
    </legend>
    {% ifequal operation "update" %}
    <form method="post" action="/admin/{{ model.code_name_plural }}/{{id}}/update">
    {% else %}
    <form method="post" action="/admin/{{ model.code_name_plural }}/create">
    {% endifequal %}
      <table>
      {{ form }}
      <tr>
        <th></th>
        <td>
          {% ifequal operation "update" %}
          <input type="hidden" name="id" value="{{id}}"></input>
          <input type="submit" name="update" value="Mettre à jour" />
          {% else %}
          <input type="submit" name="create" value="Ajouter" />
          {% endifequal %}
        </td>
      </tr>
      </table>
      
    </form>
  </fieldset>

</div>

{% endblock %}
