{% extends "../layout.html" %}
{% block content %}
<div style="margin:30px">
  <h2>Liste des événements</h2>

  <p>
    <a href="/admin/events/new">Ajouter un nouvel événement</a>
  </p>

  <table id="events">
    <thead>
      <tr>
        {% for label in property_labels %}
        <th>{{ label }}</th>
        {% endfor %}
        <th>Actions</th>
      </tr> 
    </thead>
    <tbody>
      {% for event in entities %}
      <tr class="{% cycle eventodd,eventeven %}">
        <td>
          {{ event.formatted_date }}
        </td>
        <td>
          {{ event.location }}
        </td>
        <td>
          {{ event.title }}
        </td>
        <td>
          {% for p in event.description_paragraphs %}
          <p>
            {{ p }}
          </p>
          {% endfor %}
        </td>
        <td>
          {{ event.formatted_live }}
        </td>
        <td>
          <a href="/admin/events/{{event.id}}/edit">Editer</a>
          <a href="/admin/events/{{event.id}}/delete">Supprimer</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
