{% extends "layout.html" %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" media="screen" 
  href="/stylesheets/le-frog/jquery-ui-1.7.2.custom.css" />
{% endblock extra_css %}

{% block content %}

<div style="margin:30px">
  <ul id="adminNav">
    <li>
    <a href="/admin">Admin</a>
    </li>
    <li>
    <a href="/">Voir le site</a>
    </li>
  </ul>
  {% block admin_content %}
  {% endblock admin_content %}
</div>

{% endblock content %}

{% block extra_javascript %}

<script>
  function main() {
    $('#id_date').datepicker({ dateFormat: 'dd/mm/yy' });
  }
</script>

{% if dev_environment %}

<script src="/scripts/jquery-1.3.2.js"></script>
<script src="/scripts/jquery-ui-1.7.2.custom.js"></script>
<script>
  $(document).ready(main);
</script>

{% else %}

<script src="http://www.google.com/jsapi"></script>
<script>
  google.load("jquery", "1.3.2");
  google.load("jqueryui", "1.7.2");
  google.setOnLoadCallback(main);
</script>

{% endif %}

{% endblock extra_javascript %}
