body {
    background: #308A2A; 
    font-family: sans-serif;
    color: white;
    margin: 0;
}

#page-heading {
    border-top: solid 5px #F9DA00;
    border-bottom: solid 5px #F9DA00;
    padding-left: 20px;
    color: white;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 2em;
}

#playlist {
  float: left;
  margin: auto;
  width: 150px;
  padding-left: 20px;
}

#content {
  float: left;
  width: 50%;
}

#page-footer {
  clear: both;
  margin: 1em;
  font-size: smaller;
  text-align: center;
}

h1 {
  color: black;
}

#event-entry {
  border-bottom: 1px dotted #F9DA00;
  margin-bottom: 1em;
}

h3.event-title {
  float: right;
  color: black;
  font-size: large;
  font-weight: bold;
}

th {
  text-align: right;
  vertical-align: top;
}

p.event-date {
  float: left;
  color: #F9DA00;
  font-family: monospace;
  font-size: x-large;
  font-weight: bold;
}

p.event-description {
  clear: both;
}

p.event-location {
  font-family: monospace;
  color: black;
  font-weight: bold;
}

/* Admin */
#admin_content {
  margin: 2em;
}

table#events {
  font-size: 12px;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
}

table#events th {
  padding-bottom: 1em;
  padding-right: 1em;
  text-align: center;
}

table#events tr.eventodd {
  background: #3A8A2A;
}

table#events td {
  border: 1px dotted #F9DA00;
  border-top: 1px dotted #F9DA00;
  padding: 1em;
  vertical-align: top;
}

textarea {
  width: 400px;
  height: 200px;
}

.errorlist {
  color: red;
  background: #F9DA00;
  list-style: none;
  margin: 0;
}

.errorlist li {
  margin: 0;
}
