.clear { clear: both; }

body {
    background: #308A2A; 
    font-family: sans-serif;
    color: white;
    margin: 0;
}

#page-heading {
    border-top: solid 3px #FEFF1F;
    border-bottom: solid 3px #FEFF1F;
    color: white;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 2em;
    padding: 0.3em;
}

#page-heading-logo {
    float: left;
    margin-right: 1em;
}

#left {
  float: left;
  width: 200px;
  padding-left: 30px;
  padding-right: 30px;
}

#content {
  float: left;
  max-width: 60%;
  padding-left: 1%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

#page-footer {
  clear: both;
  margin: 1em;
  padding-left: 260px;
  font-size: smaller;
}

h1 {
  color: black;
}

.event-entry {
  border-bottom: 1px dotted #FEFF1F;
  padding-bottom: 1em;
  margin-bottom: 1em;
  position: relative;
}

h3.event-title {
  color: #F9DA00;
  font-size: large;
  font-weight: bold;
}

th {
  text-align: right;
  vertical-align: top;
}

p.event-date {
  color: #F9DA00;
  font-family: monospace;
  font-size: x-large;
  font-weight: bold;
}

p.event-description {
    margin-top: 0;
}

.clear {
  clear: both;
}

p.event-location {
  color: black;
  font-size: large;
  font-family: monospace;
  font-weight: bold;
}

p.event-image {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    margin-bottom: 0;
}

img {
    border: none;
}

p.event-location a {
  color: black;
}

p.event-location a:hover {
  background-color: #F9DA00;
}

/* Admin */
#admin_content {
  margin: 2em;
}

table#entities {
  font-size: 12px;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
}

table#entities th {
  padding-bottom: 1em;
  padding-right: 1em;
  text-align: center;
}

table#entities tr.entityodd {
  background: #3A8A2A;
}

table#entities td {
  border: 1px dotted #F9DA00;
  border-top: 1px dotted #F9DA00;
  padding: 1em;
  vertical-align: top;
}

table#entities td p {
  margin-top: 0;
}

textarea {
  width: 400px;
  height: 200px;
}

.errorlist {
  color: red;
  background: #F9DA00;
  list-style: none;
  margin: 0;
}

.errorlist li {
  margin: 0;
}

a {
  color: #F9DA00;
}

a:hover {
  background: black;
}

a.img-link:hover {
  background: transparent;
}

#adminNav li {
  display: inline;
  margin: 1em;
}
