{% extends "layout.html" %}
{% block content %}
<div id="admin_content">
  
<h2>Gestion des événements</h2>
<fieldset id="event_form">
  <legend>Ajouter un événement :</legend>
  <form method="post">
    <table>
    {{ form }}
    <tr>
      <th></th>
      <td>
        {% ifequal operation "update" %}
        <input type="hidden" name="id" value="{{id}}"></input>
        <input type="submit" name="update" value="Mettre à jour" />
        {% else %}
        <input type="submit" name="create" value="Ajouter" />
        {% endifequal %}
      </td>
    </tr>
    </table>
    
  </form>
</fieldset>

<h2>Liste des événements</h2>

<div style="margin:30px">
{% include 'events_list.html' %}
</div>
</div>

{% endblock %}
