{% extends "layout.html" %}
{% block content %}

  <div id="playlist">
      <h2>Son</h2>
    {% include 'lastfm_playlist.html' %}
  </div>

  <div id="content">
      <h2>Soirées / Dances</h2>
      {% for event in events %}
      <div id="event-entry">
        <p class="event-date">
        {{ event.formatted_date }}
        </p>
        <p class="event-location">
        {{ event.location }}
        </p>
        {% for p in event.description_paragraphs %}
        <p  class="event-description">
        {{ p }}
        </p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>

  <div id="friends">
      <h2>Liens</h2>
      <li>
      <a href="http://www.myspace.com/witchinghourdubsection  ">Witching Hour Dub Section</a>
      </li>
      <li>
      <a href="http://www.myspace.com/istationsoundsystem">I-Station</a>
      </li>
      <li>
      <a href="http://www.myspace.com/ackboo">Ackboo</a>
      </li>
  </div>


    {% endblock %}
