{% extends "layout.html" %}
{% block content %}

<div id="left">
  <div id="playlist">
    <h2>Son</h2>
    <ul>
      {% for track in tracks %}
      <li>
      <a href="{{track.url}}">{{track.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="friends">
    <h2>Liens</h2>
    <ul>
      {% for link in links %}
      <li>
      <a href="{{link.url}}">{{link.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id="content">
  <h2>Soirées / Dances</h2>
  {% for event in events %}
  <div class="event-entry">
    <p class="event-date">
    {{ event.formatted_date }}
    </p>
    <p class="event-location">
    {{ event.location }}
    </p>
    {% for p in event.description_paragraphs %}
    <p  class="event-description">
    {{ p }}
    </p>
    {% endfor %}
  </div>
  {% endfor %}
</div>

{% endblock %}
