{% extends "public/layout.html" %}
{% block public_content %}
<p>
  <a href="#english">Go to English version</a>
</p>
<h2>Qu'est-ce que Zongo Sound ?</h2>
<p>
Créé en 2004 à Toulouse, ZONGO SOUND SYSTEM puise son
inspiration au plus profond des racines de la musique jamaïcaine. Le temps
d'une danse, ZONGO SOUND nous emmène en voyage à travers le DUB
et le REGGAE, associant sélections internationales et créations originales.
Au delà des prestations techniques et artistiques, c'est avant tout dans un
esprit de convivialité que ZONGO SOUND SYSTEM anime ses soirées,
convaincu de la nécessité de créer du lien . Ainsi, depuis ses débuts,
ZONGO SOUND parcourt les salles de Toulouse et sa région, rencontre
sur son chemin d'autres acteurs de la scène locale (tels que les sound
systems I STATION, REDLINE, ou le groupe de ska/rocksteady
TOULOUSE SKANKING FOUNDATION...), et s'implique dans
l'organisation de concerts caritatifs aux côtés d'associations comme
AMSAO ou NARUSAN...
</p>
<p class="center">
En clair, ZONGO SOUND SYSTEM,<br />
c'est une initiative musicale énergique et positive&nbsp;!
</p>
<p class="center">
<strong>COME INA DI DANCE&nbsp;!!!</strong>
</p>
<h3>
  Quelques caves, bars et salles de concert par lesquelles ZONGO SOUND est
  passé&nbsp;:</h3>
<p>
Le Camino, le Ragtime, le Paul Asso, la brasserie
Pierre, la Cave de la Notte, la Soule, le Mix, chez Azzo, Terre Blanque, la
MJC de Villeneuve-Tolosane, le café de la Loge (Najac, 12), le Bikini, le
Carnaval des sons de Toulouse, Plage de Cabrera de Mar (Catalogne), la
Fenière (Auch, 32)...
</p>
<h3>
  Les artistes et associations que ZONGO SOUND a rencontré&nbsp;:
</h3>
<p>
I- STATION, REDLINE, ACKBOO, TOULOUSE SKANKING
FOUNDATION, ZION UK, CRITICAL SOUND SYSTEM, WEBCAM
HIFI, OLIVER SOUND, ACHILLE STUDIO, DON GAUCHO,
MALONE ROOTICAL, LOVE CORNER CREW, STEPPIN MONKEYS,
FREE DUB SOUND SYSTEM, KAPBLANC, NARUSAN, AMSAO...
</p>
<a name="english"></a>
<h2 style="margin-top: 72px">What is Zongo Sound?</h2>
<p>
Born in 2004 in the South West of France, ZONGO SOUND SYSTEM gets its
inspiration from the deepest roots of Jamaican music. Each event is a journey
through DUB and REGGAE, combining international selection and original
productions. Beyond technical and artistic performance, ZONGO SOUND SYSTEM uses
musical events as a way to bring people together in peace and unity, which is
much needed in these serious times. ZONGO SOUND has been performing in many
different venues in Toulouse and the surrounding area, along with local sound
systems such as I STATION, REDLINE or the ska/rocksteady band TOULOUSE SKANKING
FOUNDATION... ZONGO SOUND also contributed to charity events run by non profit
organizations like AMSAO or NARUSAN...
</p>
<p class="center">
To put it simply, ZONGO SOUND delivers energy and positive vibrations to the people!
</p>
<p class="center">
<strong>COME INA DI DANCE&nbsp;!!!</strong>
</p>
{% endblock %}
