{% extends "layout.html" %}
{% block content %}

<div id="left">
  <div id="feed">
      <a title="Suivez Zongo Sound sur SoundCloud" href="http://soundcloud.com/zongosound"><img class="feed-icon" alt="soundcloud icon" src="/images/soundcloud-24x24.png" /></a>
      <a title="Suivez Zongo Sound sur Twitter" href="http://twitter.com/zongosound"><img class="feed-icon" alt="twitter icon" src="/images/twitter-24x24.png" /></a>
      <a title="Feed Atom" href="/events/atom"><img class="feed-icon" alt="Feed icon" src="/images/feed-icon-24x24.png" /></a>
  </div>
  <div id="about">
    <h2><a href="/about/">About</a></h2>
  </div>
  <div id="photos">
    <h2><a href="/photos/">Photos</a></h2>
  </div>
  <div id="videos">
    <h2><a href="http://www.youtube.com/view_play_list?p=276C117C061261EE">Videos</a></h2>
  </div>
  <div id="playlist">
    <h2>Son</h2>
    <ul>
      {% for track in tracks %}
      <li>
      <a href="{{track.url}}">{{track.title}}</a>
      </li>
      {% endfor %}
    </ul>
    <p id="compil-blurb">
    Retrouvez nous sur la compil <a
      href="http://www.youtube.com/watch?v=m1jLLqRD78U">DUBZ TAPE VOLUME 1</a>
    </p>
    <p>
      <a class="thumbnail" title="DUBZ TAPE VOLUME 1" href="http://www.youtube.com/watch?v=m1jLLqRD78U">
        <img src="/images/dubz_tape_1.jpg" alt="DUBZ TAPE VOLUME 1 CD Cover Artwork" />
      </a>
    </p>
  </div>
  <div id="radio">
    <h2>Radio</h2>
    <p>
    L'HERBE DE TON VOISIN
    </p>
    <p>
    Reggae, Dub et plus...
    </p>
    <p>
      <a
        href="http://radio-fmr.net/programmes-emissions/programme/?idprog=142&amp;idem">FMR
        89.1&nbsp;MHz</a>, 1 Mardi sur Deux de 19h à 20h
    </p>
  </div>
  <div id="contact">
    <h2>Staff</h2>
    <ul>
      <li>Technicien en chef, selector, opérateur, dub producer: <span class="mystery">adriano arobase zongosound point com</span></li>
      <li>MC, selector, opérateur, roadie, dub producer: <span class="mystery">mat arobase zongosound point com</span></li>  
      <li>Dub broducer, webmaster: <span class="mystery">al arobase zongosound point com</span></li>
    </ul>
  </div>
  <div id="friends">
    <h2>Liens</h2>
    <ul>
      {% for link in links %}
      <li>
      <a href="{{link.url}}">{{link.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id="content">
  {% block public_content %}
  {% endblock %}
</div>
<script type="text/javascript">
  // <!--
      
      // From http://www.sidroberts.co.uk/2008/06/06/getelementsbyclassname/
      // Make getElementsByClassName available on IE.
      Object.prototype.getElementsByClassName = document.getElementsByClassName = document.getElementsByClassName || function(className) {
          className = className.replace(/\s+/g, ' ').replace(/^\s|![A-Za-z0-9-_\s]|\s$/g, '').split(' ');

          for (var i = 0, elements = this.getElementsByTagName('*'), elementsLength = elements.length, b = [], classNameLength = className.length, passed = true; i < elementsLength; i++, passed = true) {
              for (var j = 0; j < classNameLength && passed; j++) {
                  passed = (new RegExp('(^|\\\s)' + className[j] + '(\\\s|$)', 'i')).test(elements[i].className);
              }

              if (passed) {
                  b.push(elements[i]);
              }
          }

          return b;
      };
      window.onload = function() {
        var elems = document.getElementsByClassName('mystery');
        var txt, i = 0, x = '<a hr', y = 'ilto', z = 'ma';
        for (; i < elems.length; ++i) {
          txt = elems[i].innerHTML;
          txt = txt.replace(/\s+arobase\s+/, '@').replace(/\s+point\s+/, '.');
          var a = document.createElement('a');
          a.href = z + y + ':' + txt;
          a.innerHTML = txt;
          elems[i].innerHTML = '';
          elems[i].appendChild(a);
        }
      }
  // -->
</script>
{% endblock %}
