{% extends "layout.html" %}
{% block content %}

<div id="left">
  <div id="playlist">
    <h2>Son</h2>
    <ul>
      {% for track in tracks %}
      <li>
      <a href="{{track.url}}">{{track.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="photos">
    <h2><a href="/photos/">Photos</a></h2>
  </div>
  <div id="radio">
    <h2>Radio</h2>
    <p>
    <a href="http://www.myspace.com/lherbedetonvoisin">L'HERBE DE TON VOISIN</a>
</p>
<p>
    1 Mardi sur Deux de 19h à 20h. Reggae, Dub and more. sur <a
      href="http://www.radio-fmr.net/">FMR</a> 89.1 MHz
</p>
  </div>
  <div id="contact">
    <h2>Staff</h2>
    <ul>
      <li>Technicien en chef, selector, opérateur, dub producer: <span class="mystery">adriano arobase zongosound point com</span></li>
      <li>MC, selector, opérateur, roadie, dub producer: <span class="mystery">mat arobase zongosound point com</span></li>  
      <li>Dub broducer, webmaster: <span class="mystery">al arobase zongosound point com</span></li>
    </ul>
  </div>
  <div id="friends">
    <h2>Liens</h2>
    <ul>
      {% for link in links %}
      <li>
      <a href="{{link.url}}">{{link.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="feed">
    <h2><img class="feed-icon" alt="Feed icon" src="/images/feed-icon-28x28.png" />Agrégation</h2>
    <a href="/events/atom">Feed Atom des soirées</a>
  </div>
</div>

<div id="content">
  {% block public_content %}
  {% endblock %}
</div>
<script type="text/javascript">
  // <!--
      window.onload=function(){
        var elems = document.getElementsByClassName('mystery');
        var txt, i = 0, x = '<a hr', y = 'ilto', z = 'ma';
        for (; i < elems.length; ++i) {
          txt = elems[i].innerHTML;
          txt = txt.replace(/\s+arobase\s+/, '@').replace(/\s+point\s+/, '.');
          var a = document.createElement('a');
          a.href = z + y + ':' + txt;
          a.innerHTML = txt;
          elems[i].innerHTML = '';
          elems[i].appendChild(a);
        }
      }
  // -->
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-16374507-1");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endblock %}
