{% extends "public/layout.html" %}
{% block public_content %}
  <h2>Photos</h2>
  {% for photo in photos %}
  <div class="photo-entry">
  <h3 class="thumbnail event-image">
    <a class="img-link" href="/photos/{{ photo.key }}/{{ photo.filename }}"><img
      src="/thumbnail/{{ photo.key }}/{{ photo.filename }}" alt="{{ photo.title }}" />{{ photo.title }}</a>
  </h3>
    <p class="photo-description">{{ photo.description }}</p>
    {% if photo.credit %}
    <p class="photo-credit">
        Photo: {{ photo.credit }}
    </p>
    {% endif %}
    <div class="clear"></div>
  </div>
  {% endfor %}
{% endblock %}
